@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body, html{
    background: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar{
    background-color: rgba(0,0,0,.85);
}

.container-fluid{
    padding: 0px 50px !important;
}

.mtn-logo{
    width: 50px;
}

.banner{
    padding-top: 60px;
}

.logo{
    width: 150px;
}

.navbar-brand{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.btn-radius{
    border-radius: 30px;
}

.btn-primary{
    background-color: white !important;
    color: black !important;
    border-radius: 30px !important;
    text-align: center;
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}

.btn-primary:hover{
    background-color: #000 !important;
    color: #fff !important;
}
.btn-secondary{
    background-color: black !important;
    color: white !important;
    border-radius: 30px !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    border: 2px solid #fff;


}

.btn-secondary:hover{
    background-color: #fff !important;
    color: #000 !important;
}

.logo-section{
    flex-shrink: 0;
    background-color: #000;
    overflow: auto;
    box-sizing: border-box;
}

.logo8{
    padding: 8px;
    margin: 0 10px;
    height: 50px;
}

.logo13{
    padding: 8px;
    margin: 0 10px;
    height: 50px;
}

.logos{
    padding: 10px;
    margin: 0 10px;
    height: 50px;
}

.pricing, .device, #first-content{
 color: #fff;
 background: linear-gradient(180deg,#1e1d28,#0b0b0e 50.03%);
}

.pricing2{
    border-top: 3px solid #00b7dd;
    padding: 50px 25px;


}
.pricing1{
    border-top: 3px solid #e83d8e;
    padding: 50px 25px;

}
.pricing3{
    border-top: 3px solid #127daf;
    padding: 50px 25px;

}

.dstvlogo{
    width: 50px;
}


.device{
    padding-top: 50px;
}

.partners, .device, #first-content{
    text-align: center;
}

.partners{
    padding: 30px 0;
}

.payment-logo{
    max-width: 50%;
}
footer a {
    text-decoration: none;
    color: #fff;
}

@media (min-width:992px) {
    .partners, .payment{
        padding: 0 50px;
        display: flex;
        text-align: left;
        justify-content: space-between;
        align-items: center;
    }

    .device, #first-content{
        text-align: left !important;

    }

    .device-text{
        padding-top: 30px !important;
    }

    footer a {
        font-size: 24px;
    }    
    
}